@import "tailwindcss/preflight";
@import "tailwindcss";

body{
  cursor: none;
  background-color: black;
}
/* Blinking cursor */
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

/* Animated ... loading dots */
.dot-animate::after {
  content: "";
  display: inline-block;
  width: 1em;
  animation: dots 1.6s steps(4, end) infinite;
}

@keyframes dots {
  0% { content: ""; }
  25% { content: "."; }
  50% { content: ".."; }
  75% { content: "..."; }
  100% { content: ""; }
}


.custom-cursor-root {
  cursor: none;
}

/* Base cursor style */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #B3FF00;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 150ms ease, opacity 150ms ease, background-color 150ms ease, box-shadow 150ms ease;
}

/* When hovering on nav text */
.custom-cursor.hovered {
  background-color: rgba(251, 253, 247, 0.1); /* transparent bubble */
  box-shadow: 0 0 20px rgba(179, 255, 0, 0.4); /* soft glow */
  transform: translate(-50%, -50%) scale(1.2); /* slightly enlarge */
}

.nav-hover{
    background-color: rgba(251, 253, 247, 0.1); /* transparent bubble */
    box-shadow: 0 0 20px rgba(179, 255, 0, 0.4); /* soft glow */
}